*{
    margin: 0;
    padding: 0;
}
header{
   
    margin: 15px;
    color: rgb(3, 3, 3);
    display: flex;
    justify-content: center;
   align-items: center;
   font-size: 29px;
   font-weight: bolder;
}
main{
    height: 780px;
    background-color: rgb(249, 189, 51);
     display: flex;
    justify-content: center;
    align-items: center;
   
}
form{
    background-color: greenyellow;
  
    height: 300px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
   position: absolute;
    
}
#text{
    height: 35px;
     width: 380px;
    background-color: rgb(42, 79, 165);
    border-radius: 12px;
    color: aliceblue;
    margin-top: 249px;
    font-size: 18px;
    position: relative;
    
}
.u{
    width: 380px;
    height: 35px;
    border-radius: 10px;
    color: rgb(11, 11, 11);
    border: none;
    font-size: 14px;
    font-weight: bolder;
    
    
}


.sel{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 15px;
   margin-bottom: 15px;
}
.a{
    margin-right: 49px;
    margin-top: 15px;
}
.x2{
    margin: 15px;
    font-size: 18px;

}
.xx{
    display: flex;
    justify-content: center;
    align-items: center;
   background-color:white;
    margin-right: 55px;
    border-radius: 8px;
    border: 2px solid greenyellow;

}
.xx img{
    width: 2rem;
    height: 2.1rem;
}


.xx1{
     display: flex;
    justify-content: center;
    align-items: center;
   background-color:white;
    border-radius: 8px;
    border: 2px solid greenyellow;
}
.xx1 img{
width: 2rem;
    height: 2.1rem;
}

.x3{
    margin: 10px;
}
#country{
    border: none;
    border-radius: 12px;
    height: 32px;
}











